
/* TYPOGRAPHY
---------------------------------------------------------------------------------------------------- */

%btn-label-like {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.35;
    text-transform: uppercase;
    letter-spacing: .1rem;
}


/* Titles
--------------------------------------------------------- */

.title {
    // font-family: $f-SN;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.83;

    strong,
    b {
        font-weight: 500;
    }


    // Modifiers
    &--xs {
        @extend %btn-label-like;
        font-size: 1.4rem;
        line-height: 2.35;
    }

    &--l,
    &--xl { font-size: m-vw(28); line-height: 1.35; }
    &--xxl { font-size: m-vw(46); line-height: 1.35; }


    // MQ
    @include minw($bp-mobile) {
        &--s  { font-size: tp-vw(22); }
        &--m  { font-size: tp-vw(28); line-height: 1.35; }

        &--l,
        &--xl { font-size: tp-vw(52); line-height: 1.15; }
        &--xxl { font-size: tp-vw(60); line-height: 1.15; }
    }


    @include minw($bp-tabletP) {
        font-size: 1.8rem;

        &--xs { font-size: 1.4rem; }
        &--s  { font-size: min(#{d-vw(22)}, 2.2rem); }
        &--m  { font-size: min(#{d-vw(28)}, 2.8rem); }
        &--l  { font-size: min(#{d-vw(72)}, 7.2rem); line-height: 1.19; }
        &--xl { font-size: min(#{d-vw(100)}, 10rem); line-height: 1.15; }
        &--xxl { font-size: min(#{d-vw(150)}, 15rem); line-height: 1.15; }
    }
}




/* Body
--------------------------------------------------------- */

p {
    & + p {
        margin-top: 1em;
    }
}


.link {
    span {
        display: inline-flex;
        align-items: center;

        text-decoration: underline;
    }

    .icon {
        margin-left: 1.2rem;
    }


    // States
    @include hover(false) {
        span {
            text-decoration: none;
        }

        .icon {
            transform: translate3d(-.3rem, 0, 0);
        }
    }
}




/* Colors
--------------------------------------------------------- */

.c-dark      { color: #000; }
.c-bright    { color: #fff; }


/* Helpers
--------------------------------------------------------- */

.ta-c { text-align: center; }
.ta-l { text-align: left; }
.ta-r { text-align: right; }
.ta-j { text-align: justify; }

.fw-light { font-weight: 300; }
.fw-reg   { font-weight: 400; }
.fw-med   { font-weight: 500; }
.fw-bold  { font-weight: 700; }



