
/* MAIN
---------------------------------------------------------------------------------------------------- */

/* Behavior
--------------------------------------------------------- */

:root {
    // Units
    --vh: 1vh;
    --vw: 1vw;
    --vpW: 100vw;
    --vpH: 100vh;
    --sbW: 15px;
}


/* Structure
--------------------------------------------------------- */

html {
    width: 100%;
    height: 100%;
}


body {
    height: 100%;
    // max-width: 144rem;
    // margin: auto;

    text-rendering: optimizeLegibility;
    @include font-smoothing(on);
    font-family: 'Bigilla';
    font-size: 1.8rem;
    line-height: 1.83;
    color: #fff;

    background: #111210;
    // background-image: url(../img/placeholders/background.png);

    ::selection {
        color: #111210;

        background: #fff;
    }
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-family: 'pp_neue_montrealbook';
}


#gridWrapper {
    position: fixed;
    height: 100vh;
    inset: 0;

    opacity: 0;

    pointer-events: none;

    transition: opacity .2s $ease-in-out-cubic;
}

.is-visible {
    opacity: 1 !important;
}

.gridCol {
    float: left;
    height: 100%;

    background: #f00;
    opacity: .2;


    // MQ
    @include maxw($bp-mobile) {
        &:nth-child(#{$m-col-number}) {
            margin-right: 0 !important;

            & ~ .gridCol {
                display: none;
            }
        }
    }
}
