/* FOOTER
--------------------------------------------------------- */

footer {
    span {
        text-transform: uppercase;
    }
}

.footer__inner {
    padding-top: 5rem;
    padding-bottom: 5rem;

    border-top: .1rem solid rgba($color: #fff, $alpha: .1);
}
