/* FOOTER
--------------------------------------------------------- */

footer {
    padding: 5rem 0;

    border-top: .1rem solid rgba($color: #fff, $alpha: .1);

    span {
        text-transform: uppercase;
    }
}
