/* NAV
--------------------------------------------------------- */


/* TOGGLE
--------------------------------------------------------- */

.headerNav__toggle {
    width: 1.5rem;
    height: 1.5rem;

    background: #fff;
    border-radius: 50%;

    cursor: pointer;
}
