/* NAV
--------------------------------------------------------- */


.headerNav__list {
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    @include position(absolute, 0);
}

/* TOGGLE
--------------------------------------------------------- */

.headerNav__toggle {
    width: 1.5rem;
    height: 1.5rem;

    background: #fff;
    border-radius: 50%;

    cursor: pointer;
}

