/* NAV
--------------------------------------------------------- */

.headerNav__menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 7%;
    right: 13%;
    z-index: 1000;
    height: 4.3rem;

    font-size: 2.4rem;

    text-transform: uppercase;
    color: #fff;

    cursor: pointer;
    mix-blend-mode: difference;

    // MQ
    @include maxw($bp-tabletP) {
        right: 7%;
    }

    @include maxw($bp-mobile) {
        right: 5%;
    }
}

.headerNav__menuBtn {
    transform: translate3d(0, -3.5rem, 0);
    transition: all .5s $ease-in-out-cubic;

    body:not(.is-open) & {
        transform: translate3d(0, 0, 0);
    }
}

.headerNav__closeBtn {
    transform: translate3d(0, -4.5rem, 0);
    transition: all .5s $ease-in-out-cubic;

    body:not(.is-open) & {
        transform: translate3d(0, 0, 0);
    }
}

.headerNav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 6;
    width: 100%;
    height: 100vh;

    @include position(fixed, 0);

    &::before {
        content: '';

        z-index: -1;

        background: #fff;

        transform-origin: 50% 100%;

        transition: all .6s $ease-in-out-cubic;
        @include position(absolute, 0);

        body:not(.is-open) & {
            transform: scaleX(0);
        }
    }

    body:not(.is-open) & {
        pointer-events: none;
    }


    li {
        position: relative;

        font-size: 8rem;
        text-transform: uppercase;
        color: #111210;

        transition: opacity .5s .5s $ease-in-out-cubic;

        &::after {
            content: '';

            height: .1rem;

            background: #111210;
            opacity: 0;
            @include position(absolute, null 0 0 0);
            transition: opacity .3s $ease-in-out-cubic;
        }

        // STATES
        @include hover {
            &::after {
                opacity: .6;
            }
        }

        body:not(.is-open) & {
            opacity: 0;

            transition-delay: 0s;
        }
    }
}

/* TOGGLE
--------------------------------------------------------- */

.headerNav__toggle {
    width: 1.5rem;
    height: 1.5rem;

    background: #fff;
    border-radius: 50%;

    cursor: pointer;
}

