
/* FONTS
---------------------------------------------------------------------------------------------------- */

@font-face {
    font-family: 'Bigilla';
    src: url(../fonts/bigilla-webfont.woff) format('woff');
    src: url(../fonts/bigilla-webfont.woff) format('woff2');
    src: url(../fonts/bigilla-bold-webfont.woff) format('woff');
    src: url(../fonts/bigilla-bold-webfont.woff2) format('woff2');
}



@font-face {
    font-family: 'pp_neue_montrealbold';
    src: url('../fonts/ppneuemontreal-bold-webfont.woff2') format('woff2'),
         url('../fonts/ppneuemontreal-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pp_neue_montrealbook';
    src: url('../fonts/ppneuemontreal-book-webfont.woff2') format('woff2'),
         url('../fonts/ppneuemontreal-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pp_neue_montrealitalic';
    src: url('../fonts/ppneuemontreal-italic-webfont.woff2') format('woff2'),
         url('../fonts/ppneuemontreal-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pp_neue_montrealmedium';
    src: url('../fonts/ppneuemontreal-medium-webfont.woff2') format('woff2'),
         url('../fonts/ppneuemontreal-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pp_neue_montrealSBdIt';
    src: url('../fonts/ppneuemontreal-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/ppneuemontreal-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pp_neue_montrealthin';
    src: url('../fonts/ppneuemontreal-thin-webfont.woff2') format('woff2'),
         url('../fonts/ppneuemontreal-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}