/* HOME PROJECTS
---------------------------------------------------------------------------------------------------- */

.homeProject__title {
    padding-bottom: 5rem;
}

.homeProject__list {
    font-family: 'Bigilla';
    font-size: 8rem;
    line-height: 1;
    text-transform: uppercase;
}
